# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# FAISS vector database
backend/app/db/faiss_index/

# Uploaded PDFs
backend/app/data/

# Node modules
frontend/node_modules/

# Vite build files
frontend/dist/

# OS files
.DS_Store
Thumbs.db